.PageArrowsContainer {
    position: absolute;
    right: 30px;
    bottom: 30px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.PageArrowsContainer img {
    width: 35px;
    filter: drop-shadow(1px 1px 1px black) 
    drop-shadow(-1px 0 0 black);
    transition: all 0.1s ease-out;
    cursor: pointer;
}

.PageArrowsContainer img:hover {
    filter: drop-shadow(2px 3px 1px black) 
    drop-shadow(-5px 0 0 black);
}

.PreviousPageArrow {
    transform: scale(-1, 1);
}

.ArrowDisabled {
    filter: drop-shadow(1px 1px 1px black) grayscale(1)!important;
    cursor: not-allowed!important;
}

.ArrowDisabled:hover {
    filter: drop-shadow(1px 1px 1px black) grayscale(1)!important;
}